<html ng-app="myApp">

<head>
	<title>Angular Setup</title>
	<script type="text/javascript" src="../lib/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"></style>
</head>

<body>

	<div ng-controller="MainController as main">
		<ul ng-repeat="user in main.users | orderBy:'-lastName'">
		<!--<ul ng-repeat="user in main.users | orderBy:'balance' | limitTo:2:3">-->
			<li>Name: {{ user.firstName + ' ' + user.lastName | capitalize}}</li>
			<li>Account: {{ user.accountType | capitalize}}</li>
			<li>Balance: {{ user.balance | currency:'EUR €':2}}</li>
			<li>Birthday: {{ user.birthday }}</li>
		</ul>
	</div>

</body>

</html>