body, td {
	font-fanily: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 10px;
}

div {
	box-sizing: border-box;
	border: #999999 1px solid;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	width: 100%;
}

p {
	margin: 4px;
}
/*
.user-form tr > td {
	text-align: left;
	vertical-align: middle;
	padding: 2px
}

.user-form tr > td:first-child {
	text-align: right;
}
*/
input {
	border: 1px solid #888888;
	border-radius: 8px;
	padding: 1px 8px 1px 8px;
}

button {
	background: #dddddd;
}

div.ng-scope {
	background: #ddddff;
}

/*
.ng-binding {
	color: #ff0000;
}
*/

input.ng-pristine {
	background: #eeeeee;
}

input.ng-dirty.ng-valid {
	background: #ddffdd;
}

input.ng-dirty.ng-invalid {
	background: #ffdddd;
}